* {
  box-sizing: border-box;
}

.aUnleshThePowerWithi3 {
  width: 231px;
  height: 173px;
  text-align: center;
  letter-spacing: 0;
  color: #000000;
  font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: UPPERCASE;

  .aUnleshThePowerWithi {
    letter-spacing: 0;
    color: #000000;
    font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: UPPERCASE;
  }

  .aUnleshThePowerWithi2 {
    letter-spacing: 0;
    color: #ffffff;
    font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: UPPERCASE;
  }
}
