* {
  box-sizing: border-box;
}

.frame514987 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1232px;
  height: 394px;
  row-gap: 36px;

  .frame514969 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    width: 487px;

    .meetTheOurTeam {
      flex-shrink: 0;
      line-height: 47px;
      letter-spacing: 0;
      color: #212121;
      font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 36px;
      font-weight: 700;
    }

    .frame514977 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 8px;
      margin: -8px 170px 0px;

      .readMore {
        flex-shrink: 0;
        line-height: 48px;
        letter-spacing: 0;
        color: #1a237e;
        font-family: "Just Another Hand", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 48px;
        text-decoration: underline;
      }

      .arrowUpRight {
        flex-shrink: 0;
        border-radius: 1000px;
        width: 24px;
        height: 24px;
        overflow: hidden;
      }
    }
  }

  .frame514986 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 1232px;
    overflow: hidden;

    .frame514985 {
      display: inline-flex;
      align-items: center;
      column-gap: 20px;
      width: 1441px;
      overflow-x: auto;

      .hunters2 {
        flex-shrink: 0;
        line-height: 41px;
        letter-spacing: 0;
        color: #212121;
        font-family: "PT Sans Narrow", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 700;
      }

      .blur3 {
        position: absolute;
        top: 170px;
        right: -17px;
        bottom: -19px;
        left: -18px;
        flex-shrink: 0;
        width: 307px;
        height: 120px;
      }

      .chinaTeam {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        letter-spacing: 0;
        color: #212121;
        font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .hunters {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        letter-spacing: 0;
        color: #212121;
        font-family: "PT Sans Narrow", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 700;
      }

      .fill3 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border-radius: 20px;
        background: #f7f7f7;

        .frame514981 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          background: #00000000;
          padding-right: 83px;
          padding-left: 83px;
          height: 68px;
        }
      }

      .frame514980 {
        display: inline-flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 5px;
        margin-left: 166px;

        .glassEffect {
          display: flex;
          flex-grow: 1;
          align-items: center;
          border-radius: 20px;
          background: #00000000;
          padding: 10px;

          .facebook {
            width: 22px;
            height: 22px;
            overflow: hidden;
          }
        }

        .fill {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 20px;
          background: #f7f7f7;
        }

        .blur {
          position: absolute;
          top: -26px;
          right: 21px;
          bottom: -26px;
          left: -26px;
          flex-shrink: 0;
          width: 94px;
          height: 94px;
        }

        .fill2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          z-index: 1;
          border-radius: 20px;
          background: #f7f7f7;
        }

        .blur2 {
          position: absolute;
          top: -26px;
          right: -26px;
          bottom: -26px;
          left: 21px;
          flex-shrink: 0;
          z-index: 2;
          width: 94px;
          height: 94px;
        }
      }

      .frame514983 {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        justify-content: center;
        border-radius: 28px;
        padding: 7px 9px 7px 8px;
        height: 271px;
        row-gap: 146px;
        background-image: url(../image/mh1ustko-iteu0y6.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .frame5149832 {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        justify-content: center;
        border-radius: 28px;
        padding: 7px 9px 7px 8px;
        height: 271px;
        row-gap: 146px;
        background-image: url(../image/mh1ustko-zl60dci.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .frame5149833 {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        justify-content: center;
        border-radius: 28px;
        padding: 7px 9px 7px 8px;
        height: 271px;
        row-gap: 146px;
        background-image: url(../image/mh1ustko-yv4p7gw.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .fill4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-radius: 20px;
          background: #f7f7f7;

          .frame5149812 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background: #00000000;
            padding-right: 83px;
            padding-left: 83px;
            height: 68px;
          }
        }
      }

      .frame5149834 {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        justify-content: center;
        border-radius: 28px;
        padding: 7px 9px 7px 8px;
        height: 271px;
        row-gap: 146px;
        background-image: url(../image/mh1ustko-ocf7n37.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .fill5 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-radius: 20px;
          background: #f7f7f7;

          .frame5149813 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background: #00000000;
            padding-right: 83px;
            padding-left: 83px;
            width: 255px;
            height: 68px;
          }
        }
      }

      .frame5149835 {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        justify-content: center;
        border-radius: 28px;
        padding: 7px 10px 7px 8px;
        height: 271px;
        row-gap: 146px;
        background-image: url(../image/mh1ustko-ud0czxz.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .fill6 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-radius: 20px;
          background: #f7f7f7;

          .frame5149814 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background: #00000000;
            padding-right: 83px;
            padding-left: 83px;
            width: 255px;
            height: 68px;

            .chinaTeam2 {
              flex-shrink: 0;
              line-height: 18px;
              letter-spacing: 0;
              color: #212121;
              font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }

        .blur4 {
          position: absolute;
          top: 170px;
          right: -16px;
          bottom: -19px;
          left: -18px;
          flex-shrink: 0;
          width: 307px;
          height: 120px;
        }
      }
    }
  }
}
