* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1410px;
  height: 940px;

  .cta {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 5px;
    height: 651px;

    .frame515002 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      margin-top: -39px;

      .frame515001 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 89px;
        margin-left: 89px;

        .frame514969 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: center;

          .weAimToEmpowerAthlet {
            flex-shrink: 0;
            line-height: 83px;
            letter-spacing: 0;
            color: #212121;
            font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 64px;
            font-weight: 700;
          }

          .frame514977 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            column-gap: 96px;
            margin-top: -12px;
            margin-right: 330px;

            .byInstillingConfiden {
              flex-shrink: 0;
              line-height: 83px;
              letter-spacing: 0;
              color: #1a237e;
              font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 64px;
            }

            .dumbbell02 {
              flex-shrink: 0;
              border-radius: 1000px;
              width: 64px;
              height: 64px;
              overflow: hidden;
            }
          }
        }

        .frame514991 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin: -123px 34px 0px;
          min-width: 1160px;
          height: 425px;

          .frame514989 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            row-gap: 4px;

            .experience {
              flex-shrink: 0;
              align-self: stretch;
              text-align: center;
              letter-spacing: 0;
              color: #1a237e;
              font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 64px;
              font-weight: 700;
            }

            .ourCoachingStaffHasO {
              flex-shrink: 0;
              width: 240px;
              letter-spacing: 0;
              color: #1a237e;
              font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
            }
          }

          .frame514990 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 1000px;
            background: #1a237e;
            padding: 38px;
            height: 101px;

            .joinUs {
              flex-shrink: 0;
              line-height: 45px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: "Just Another Hand", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 64px;
            }

            .arrowUpRight {
              flex-shrink: 0;
              width: 52px;
              height: 52px;
              overflow: hidden;
            }
          }
        }
      }

      .frame515000 {
        position: relative;
        flex-shrink: 0;
        align-self: stretch;
        margin-top: -404px;
        height: 638px;

        .rectangle5583 {
          position: absolute;
          top: 319px;
          left: 0;
          border-radius: 20px;
          width: 1405px;
          height: 319px;
        }

        .hunyuanImage30Genera {
          position: absolute;
          top: 0;
          left: 5px;
          width: 1138px;
          height: 638px;
        }
      }
    }
  }

  .frame514998 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
    border-radius: 20px;
    background: #1a237e;
    padding: 16px 3px;
    height: 289px;
    row-gap: 93px;

    .frame514996 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 104px;
      margin-right: 88px;
      margin-left: 88px;

      .worldArmliftingFeder {
        flex-shrink: 0;
        width: 519px;
        line-height: 51px;
        letter-spacing: 0;
        color: #fafafa;
        font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 62px;
        font-weight: 700;
      }

      .frame514995 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 20px;

        .theOfficialGlobalOrg {
          flex-shrink: 0;
          width: 293px;
          letter-spacing: 0;
          color: #fafafa;
          font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }

    .frame514997 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      row-gap: 11px;

      .line2 {
        flex-shrink: 0;
        align-self: stretch;
        background: #ffffff;
        height: 1px;
      }

      .a2025WorldArmLifting6 {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        letter-spacing: 0;
        color: #000000;
        font-size: 0;

        .a2025WorldArmLifting {
          letter-spacing: 0;
          color: #fafafa;
          font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }

        .a2025WorldArmLifting2 {
          letter-spacing: 0;
          color: #fafafa;
          font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .a2025WorldArmLifting3 {
          letter-spacing: 0;
          color: #ffffff;
          font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .a2025WorldArmLifting4 {
          letter-spacing: 0;
          font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
        }

        .a2025WorldArmLifting5 {
          letter-spacing: 0;
          color: #0097a7;
          font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }
  }
}
