* {
  box-sizing: border-box;
}

.frame514969 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1379px;
  height: 545px;
  row-gap: 32px;

  .frame514968 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    margin-right: 446px;
    margin-left: 446px;

    .partneredWithMostOfT {
      flex-shrink: 0;
      line-height: 47px;
      letter-spacing: 0;
      color: #212121;
      font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 36px;
      font-weight: 700;
    }

    .topPeopleAtEachCount {
      flex-shrink: 0;
      margin: -8px 0px 0px;
      line-height: 48px;
      letter-spacing: 0;
      color: #1a237e;
      font-family: "Just Another Hand", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 48px;
    }
  }

  .leaderCarousel {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 31px;

    .frame514959 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid #c3c3c3;
      border-radius: 1000px;
      padding: 9px;
      background-image: linear-gradient(
        90deg,
        #0000ff0d -12.5%,
        #1a237e99 112.5%
      );

      .chevronLeft {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
      }
    }

    .frame514967 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 1229px;
      overflow: hidden;

      .frame514966 {
        display: flex;
        align-items: center;
        column-gap: 31px;
        margin-left: -1px;
        width: 1282px;
        overflow-x: auto;

        .frame514956 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: flex-end;
          border-radius: 20px;
          padding: 0px 80px 39px 20px;
          height: 426px;
          row-gap: 8px;
          background-image: linear-gradient(
            180deg,
            #f5f5f500 50.48%,
            #1a237ee3 100%
          );

          .davidSequiera {
            flex-shrink: 0;
            align-self: stretch;
            letter-spacing: 0;
            color: #ffffff;
            font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .northAsiaSPresident {
            flex-shrink: 0;
            align-self: stretch;
            letter-spacing: 0;
            color: #f5f5f5;
            font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }

        .rectangle5597 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 20px;
          background-image: linear-gradient(
            180deg,
            #1a237e52 0%,
            #f5f5f5cc 63.46%,
            #1a237e 100%
          );

          .rectangle5598 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            border-radius: 20px;
            background-image: url(../image/mh1u5op6-qd4f589.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }

        .rectangle55972 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 20px;
          background-image: linear-gradient(
            180deg,
            #1a237e52 0%,
            #f5f5f5cc 63.46%,
            #1a237e 100%
          );

          .rectangle55982 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            border-radius: 20px;
            background-image: url(../image/mh1u5op6-1th1v3s.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
