* {
  box-sizing: border-box;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1236px;
  height: 587px;

  .frame514931 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 87px;

    .frame514930 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 52px;

      .frame514924 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 20px;

        .aboutUs {
          flex-shrink: 0;
          line-height: 26px;
          letter-spacing: 0;
          color: #212121;
          font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

        .knowAboutWhoWeAre {
          flex-shrink: 0;
          line-height: 52px;
          letter-spacing: 0;
          color: #212121;
          font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 40px;
          font-weight: 700;
        }
      }

      .frame5149242 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        margin-right: 207px;
        border: 2px solid #000000;
        border-radius: 56px;
        padding: 8px 18px;
        height: 67px;

        .readMoreAboutUs {
          flex-shrink: 0;
          line-height: 26px;
          letter-spacing: 0;
          color: #212121;
          font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
        }

        .northEast {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }
      }
    }

    .frame514925 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      justify-content: center;
      width: 666px;
      row-gap: 15px;

      .worldArmLiftingFeder {
        flex-shrink: 0;
        line-height: 41px;
        letter-spacing: 0;
        color: #212121;
        font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 700;
      }

      .theWorldArmLiftingFe {
        flex-shrink: 0;
        width: 506px;
        text-align: right;
        line-height: 23px;
        letter-spacing: 0;
        color: #5a5a5a;
        font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .frame514929 {
    position: relative;
    flex-shrink: 0;
    align-self: stretch;
    margin-top: -160px;
    height: 530px;

    .frame514933 {
      display: flex;
      position: absolute;
      top: 192px;
      left: 0;
      align-items: flex-start;
      border-radius: 25px;
      padding-top: 280px;
      padding-left: 1158px;
      width: 1236px;
      height: 334px;
      background-image: url(../image/mh1opxmp-c21bik4.png);
      background-position: -49px 5px;
      background-size: 104.6% 117.32%;
      background-repeat: no-repeat;

      .rectangle5589 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        border-radius: 46px 0px 22px;
        background: #f5f5f5;
        padding: 6px 18px;

        .rsW150H150Mx1 {
          border-radius: 9999px;
          width: 42px;
          height: 42px;
        }
      }
    }

    .pick1 {
      position: absolute;
      top: -8px;
      left: 393px;
      width: 446px;
      height: 440px;
    }
  }
}
