* {
  box-sizing: border-box;
}

.frame514955 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1230px;
  height: 610px;
  row-gap: 19px;

  .frame514940 {
    position: relative;
    flex-shrink: 0;
    align-self: stretch;
    height: 120px;

    .rectangle5590 {
      position: absolute;
      top: 8px;
      left: 0;
      border-radius: 24px;
      background: #212121;
      width: 1230px;
      height: 101px;
    }

    .frame514939 {
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 31px;
      align-items: center;
      column-gap: 8px;
      width: 1146px;
      height: 120px;

      .wAf {
        flex-shrink: 0;
        line-height: 60px;
        letter-spacing: 0;
        color: #fafafa;
        font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: 500;
        text-transform: UPPERCASE;
      }

      .frame514937 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 9px;

        .frame514936 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;

          .frame514934 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            padding: 10px;

            .a1912I211011Sm004C12 {
              flex-shrink: 0;
              width: 135px;
              height: 34px;
            }
          }

          .highlight {
            flex-shrink: 0;
            margin: 0px 0px 0px -5px;
            line-height: 120px;
            letter-spacing: 0;
            color: #fafafa;
            font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 96px;
            font-weight: 800;
            text-transform: UPPERCASE;
          }
        }

        .airBalloon1 {
          flex-shrink: 0;
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  .frame514954 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 13px;

    .frame514925 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 2px solid #fafafa;
      border-radius: 56px;
      background: #00000099;
      padding: 8px 18px;
      width: 131px;
      height: 27px;

      .readMore {
        flex-shrink: 0;
        line-height: 18px;
        letter-spacing: 0;
        color: #fafafa;
        font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
      }

      .northEast {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }

    .rectangle5591 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      border-radius: 30px;
      background-image: url(../image/mh1pjp6a-sb43yfn.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .frame514942 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: center;
        border-radius: 30px;
        padding-right: 24px;
        padding-left: 21px;
        height: 471px;
        row-gap: 303px;
        background-image: linear-gradient(180deg, #33333300 0%, #000000ad 100%);

        .frame514941 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 2px;

          .championshipFinal {
            flex-shrink: 0;
            align-self: stretch;
            letter-spacing: 0;
            color: #ffffff;
            font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 40px;
            font-weight: 700;
            text-transform: UPPERCASE;
          }

          .theWorldArmLiftingFe {
            flex-shrink: 0;
            align-self: stretch;
            height: 66px;
            overflow: hidden;
            text-overflow: ellipsis;
            letter-spacing: 0;
            white-space: nowrap;
            color: #ffffff;
            font-family: "PT Sans Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            text-transform: UPPERCASE;
          }
        }
      }
    }

    .frame514953 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 482px;
      row-gap: 26px;

      .frame514952 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        margin-right: -2px;
        margin-left: -2px;

        .frame514949 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding-right: 14px;

          .frame514948 {
            position: relative;
            border-radius: 25px;
            background: #1a237e;
            width: 239px;
            height: 198px;

            .bodyPartMuscle {
              position: absolute;
              top: 102px;
              left: -10px;
              width: 86px;
              height: 86px;
              overflow: hidden;
            }

            .aUnleshThePowerWithi3 {
              position: absolute;
              top: 20px;
              left: 8px;
              width: 231px;
              height: 173px;
              text-align: center;
              letter-spacing: 0;
              color: #000000;
              font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
              font-weight: 700;
              text-transform: UPPERCASE;

              .aUnleshThePowerWithi {
                letter-spacing: 0;
                color: #000000;
                font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 700;
                text-transform: UPPERCASE;
              }

              .aUnleshThePowerWithi2 {
                letter-spacing: 0;
                color: #ffffff;
                font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 700;
                text-transform: UPPERCASE;
              }
            }

            .quote {
              position: absolute;
              top: 7px;
              left: 193px;
              width: 33px;
              height: 33px;
              overflow: hidden;
            }
          }
        }

        .rectangle5594 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 25px;
          background-image: url(../image/mh1pjp6b-y4nneu7.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .rectangle5595 {
            border-radius: 25px;
            width: 233px;
            height: 198px;
            background-image: linear-gradient(
              180deg,
              #24242400 0%,
              #000000c7 100%
            );
          }
        }
      }

      .rectangle5592 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border-radius: 25px;
        background-image: url(../image/mh1pjp6b-0zzc780.png);
        background-position: 0px -182px;
        background-size: 100% 193.5%;
        background-repeat: no-repeat;

        .frame514950 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: center;
          border-radius: 25px;
          padding-right: 12px;
          padding-left: 12px;
          height: 246px;
          row-gap: 131px;
          background-image: linear-gradient(
            180deg,
            #3b3a3a00 0%,
            #000000bf 100%
          );

          .frame514945 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 2px;

            .ourNewEvent {
              flex-shrink: 0;
              align-self: stretch;
              letter-spacing: 0;
              color: #ffffff;
              font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
              font-weight: 700;
              text-transform: UPPERCASE;
            }

            .inThisEventIsCrazyPe {
              display: -webkit-box;
              flex-shrink: 0;
              align-self: stretch;
              overflow: hidden;
              text-align: justify;
              letter-spacing: 0;
              color: #ffffff;
              font-family: REM, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 15px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }
}
